<html>
    <body>
        <center>
            <br><br>
            <button>Clique aqui</button>
            <br><br>
            <img src="" alt="">
        </center>
    </body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const apiKey = 'Eh2YiZozUcgPisT6DeS5MF4eEae3rWql';
        const tags = ['funny', 'comic', 'comical'];

        $(function() {
        $('button').click(function() {
            $.get(`https://api.giphy.com/v1/gifs/random?api_key=${apiKey}&tag=${tags.join('+')}`, function(data) {
            $('img').attr('src', data.data.images.downsized.url);
            });
        });
        });
    </script>

</html>
